<section class="module content animated fadeIn delayed_animation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <section class="profile_photo"></section>
      </div>
      <div class="col-md-8">
        <h2>About Me</h2>
        <p class="faded_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    </div>
  </div>
</section>
