<section class="module content animated fadeIn delayed_animation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="color: rgba(3, 115, 140, 1);"><%= t('about_section.headline') %></h1>
        <div class="faded_text"><%= t('about_section.paragraph_one') %></div>
        <div class="faded_text"><%= t('about_section.paragraph_two') %></div>
        <div class="faded_text"><%= t('about_section.paragraph_three') %></div>
      </div>
    </div>
  </div>
</section>
