<section class="module content animated fadeIn delayed_animation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="color: rgba(3, 115, 140, 1);">About YMN Translation</h1>
        <div class="faded_text">Yolanda Morales Newcomb is a native Spanish speaker, born and raised in Puerto Rico. She holds a B.A. in Mathematics and Education from the University of Puerto Rico and earned a Master Degree in Business Management at the University of Wisconsin-Madison.</div>
        <div class="faded_text">In response to the need for top quality translations because of the growing Spanish speaking population in Texas and the rest of the country, she founded YMN Translation Services over twenty-two years ago. As a freelance translator, she has offered translation and interpreting services to a wide variety of businesses and non-profit organizations.</div>
        <div class="faded_text">Her vast experience includes translation of a very diverse array of documents in multiple fields: business, marketing, education, legal, medical, and religious. Her work and customer service are defined by excellence and dependability.</div>
      </div>
    </div>
  </div>
</section>
