<section class="white_section animated fadeIn delayed_animation">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text_centered">
        <div class="stat">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <h3><%= t('highlights.one') %></h3>
        </div>
      </div>

      <div class="col-md-4 text_centered">
        <div class="stat">
          <%= image_tag("ata_logo.jpg", alt: "American Translators Association Logo", class: "small_logo") %>
          <h3><%= t('highlights.two') %></h3>
        </div>
      </div>

      <div class="col-md-4 text_centered">
        <div class="stat">
          <i class="fa fa-volume-up" aria-hidden="true"></i>
          <h3><%= t('highlights.three') %></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
</section>
