<section class="white_section animated fadeIn delayed_animation">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text_centered">
        <div class="stat">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <h3>22+ Years Experience</h3>
        </div>
      </div>

      <div class="col-md-4 text_centered">
        <div class="stat">
          <i class="fa fa-volume-up" aria-hidden="true"></i>
          <h3>Native Spanish Speaker</h3>
        </div>
      </div>

      <div class="col-md-4 text_centered">
        <div class="stat">
          <i class="fa fa-certificate" aria-hidden="true"></i>
          <h3>Lorem Ipsum Certified</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
</section>
