<section class="form animated fadeIn delayed_animation">
  <h2 class="form_header">Translation Request</h2>

  <p type="Name:">
    <input placeholder="Write your name here.." id="from-name"/>
    <span class="input_error_container" id="from-name-error">cannot leave field blank</span>
  </p>

  <p type="Email:">
    <input placeholder="Let us know how to contact you back.." id="from-email"/>
    <span class="input_error_container" id="from-email-error">cannot leave field blank</span>
  </p>

  <p type="Length of Translation:">
    <select type="text" class="fastselect" name="fastselect-len" id="fastselect-len" >
      <option selected value="500 words">500 Words</option>
      <option value="750 words">750 Words</option>
      <option value="1000 words">1000 Words</option>
      <option value="1500 words">1500 Words</option>
      <option value="2000 words">2000 Words</option>
      <option value="2500 words">2500 Words</option>
      <option value="3000 words">3000 Words</option>
      <option value="3500 words">3500 Words</option>
      <option value="4000 words">4000 Words</option>
      <option value="4500 words">4500 Words</option>
      <option value="5000 words">5000 Words</option>
      <option value="5000+ words">5000+ Words</option>
    </select>
  </p>

  <p type="Type of Translation:">
    <select type="text" class="fastselect" name="fastselect-type" id="fastselect-type" >
      <option value="Business" selected>Business</option>
      <option value="Marketing">Marketing</option>
      <option value="Education">Education</option>
      <option value="Legal">Legal</option>
      <option value="Medical">Medical</option>
      <option value="Religious">Religious</option>
      <option value="Other">Other</option>
    </select>
  </p>

  <div class="relative_container">
    <p type="Sample of File to Translate:">
      <div class="uploaded_file_name_container">
        <span id="uploaded_file_name"><span></span><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
      <div class="progress-wrapper">
        <p>Bitrate: <span class="bitrate"></span></p>
        <div class="progress">
          <div class="progress-bar" role="progressbar">
            0%
          </div>
        </div>
      </div>
      <%= form_for @upload do |f| %>
        <div class="upload_file_container">
          <%= f.file_field :file, required: true, multiple: false, title: "Add File..." %>
        </div>
      <% end %>
      <span class="input_error_container" id="upload-file-error">you need to upload a file</span>
    </p>
  </div>

  <p type="Due Date:">
    <input type="text" id="due-date" placeholder="Select a Date"/>
    <div class="monthly" id="calendar"></div>
    <span class="input_error_container" id="due-date-error">cannot leave field blank</span>
  </p>

  <p type="Message:">
    <textarea rows='2' data-autoresize placeholder='What would you like to tell us..' id="from-message"></textarea>
    <span class="input_error_container" id="from-message-error">cannot leave field blank</span>
  </p>

  <div id="send" class="btn_cool">Send Message</div>

  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="email_box">
    <span class="fa fa-envelope-o"></span> yolanda.newcomb@sbcglobal.net
  </div>
</section>

<!-- Thank You container is hidden by defaults-->
<section class="thank_you">
  <h3 class="text_centered">Thank you for your request! We will get back to you shortly!</h3>
  <i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i>
</section>
