<div class="translation_type_box">
	<div class="photo" id="<%= photo_id %>"></div>
	<div class="caption">
        <div class="caption-content">
            <div class="translation_type text-faded">
                <%= type %>
            </div>
        </div>
    </div>
</div>