@import "variables";

.form {
	width: 500px;
	height: auto;
	background: $color-white;
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #000;
	margin: 50px auto;
	padding: 20px 30px;
	max-width: calc(100vw - 40px);
	box-sizing: border-box;
	position: relative;
}

.form {
	p, .relative_container {
		position: relative;
	}
}

.form .form_header {
	margin: 10px 0;
	text-align: center;
	color: $color-blue;
	font-size: 30px;
}

.form textarea {
	width: 100%;
	padding: 5px 10px 10px 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	transition: all .3s;
	border-bottom: 2px solid $border-color-input-form;
}

.form textarea {
	border: 1px solid $border-color-input-form;
}

.progress-wrapper, .uploaded_file_name_container, .thank_you {
  display: none;
}

.thank_you {
	border-top: 2px solid $color-near-white;
}

.uploaded_file_name_container {
	padding: 0px 10px 15px 0px;
	transition: all .3s;
	border-bottom: 1px solid $color-near-white;
}

#uploaded_file_name {
	padding: 8px;
	background: $color-near-white;
	line-height: 40px;

	.fa-times {
		padding-left: 5px;
	}
}

#uploaded_file_name:hover {
	cursor: pointer;
	color: $color-blue;
}

.upload_file_container {
	border-bottom: 1px solid $color-near-white;
	padding-bottom: 10px;
}

.form textarea {
	overflow: hidden;
}

.form input:focus {
	border-bottom:2px solid $color-blue;
}

.form textarea:focus {
	border:2px solid $color-blue;
}

.form p:before {
	position: relative;
	content: attr(type);
	display: block;
	margin: 20px 0 0 0;
	font-size: 15px;
	color: $grey-text-color;
}

.form p.dropdown_label:before {
	margin-bottom: 5px;
}

.form p {
	margin-bottom: 5px;
}

.form .email_box {
	content: 'Hi';
	position: absolute;
	bottom: -15px;
	right: -20px;
	background: $color-blue;
	color: $color-white;
	width: 220px;
	padding: 16px 4px 16px 0;
	border-radius: 6px;
	font-size: 13px;
	box-shadow: 10px 10px 40px -14px $border-color-darker;
}

.form .email_box span {
	margin: 0 15px 0 15px;
}

.form .input_error_container {
	position: absolute;
	right: 0px;
	bottom: -23px;
	padding: 5px 10px;
	font-size: 0.7em;
	color: $color-red;
	display: none;
	transition: all 0.3s;
}

.form .margin_above_mobile {
	@media (max-width: 767px) {
		margin-top: 25px;
	}
}

.thank_you {
	margin-top: 30px;
	padding: 60px;

	.fa-paper-plane {
		color: $color-blue;
		margin-top: 20px;
		display: block;
		text-align: center;
	}
}

/*
========================
      BUTTON COOL
========================
*/
.btn_cool {
	margin: 20px 0 25px 0;
	line-height: 50px;
	width: 200px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: $dark-grey-text-color;
	transition: all 0.5s;
	position: relative;
}
.btn_cool::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: $color-grey-very-opaque;
	transition: all 0.3s;
}
.btn_cool:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn_cool::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid $color-blue-opaque;
	transform: scale(1.2,1.2);
}
.btn_cool:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

@media (max-width: 650px) {
	.form .email_box {
		bottom: -30px;
		left: 50%;
		margin-left: -110px;
	}

	.form {
		margin-bottom: 70px;
	}

	#send {
		width: 100%;
	}
}

// Checkbox Styling
.control-group {
	display: block;
	padding: 5px;
	vertical-align: top;
	background: $color-near-white;
	box-shadow: 0 1px 2px $color-grey-very-opaque;
}

.control {
	font-size: 0.9em;
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
	font-weight: 300;
	padding-top: 3px;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0px !important;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: $color-blue;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 5px;
	height: 10px;
	transform: rotate(45deg);
	border: solid $color-white;
	border-width: 0 2px 2px 0;
}
